<!--David Nagy
Date: April 13 2019
file: home.html
Description: Dating site for users to sign up and meet there love one.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Dating Website</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div>
    <nav class="navbar navbar-light bg-light" id="nav">
        <a href="admin" class="btn btn-info rounded float-right">ADMIN</a>
        <h4>My Dating Website</h4>
    </nav>
</div>


<div class="jumbotron">
    <div class="row">
        <div class="col-sm-6">

            <p>Welcome to the web's most successful dating website.
                At <strong>My Dating Website</strong> you'll meet another
                like minded individuals. We have the highest success
                rate of couples on the web. User's are matched by
                interest and location. Find out why so many others have found
                love on our site!</p><br>
            <h4 class="indent">Hear what our users are saying about us.</h4><br>
            <hr>

            <div class="quotes">
                <p class="indent">"<em>I met the love of my life after only a month!</em>" - Andrea</p>
                <p class="indent">"<em>It was so easy to set up and profile and start meeting
                    people. I didn't realize how many others were looking
                    for love in my area.</em>" -John Smith</p>
                <p class="indent">"<em>Just try it! You'll never be the same!</em>" - Sarah</p>
            </div>
            <hr>

            <form method="post" action="personal-info">
                <div class="text-center">
                    <button type="submit" class="btn btn-primary bottomMargin">Create a Profile!</button>
                </div>
            </form>


        </div>

        <div class="col-sm-6">
            <img src="images/dating.jpg" alt="picture" id="picture" width="528" height="528">
        </div>
    </div>
</div>

</body>
</html>