<!-- David Nagy
4/20/19
summary.html
Description: implementing the summary page
-->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Must do in relation to the index.php page -->
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <title>Summary</title>
</head>
<body>
<ul class="nav">
    <li class="nav-item">
        <a id="nav-text" class="nav-link"  href="../dating">My Dating Website</a>
    </li>
</ul>
<hr>

<div class="container border rounded">
    <div class="row">
        <div class="col-sm-6">
            <div id="profileSum" class="border rounded">
                <p>Name: {{$_SESSION['member']->getFname() }} {{$_SESSION['member']->getLname() }}</p>
                <hr>
                <p>Gender: {{$_SESSION['member']->getGender() }}</p>
                <hr>
                <p>Age: {{$_SESSION['member']->getAge() }}</p>
                <hr>
                <p>Phone: {{$_SESSION['member']->getPhone() }}</p>
                <hr>
                <p>Email: {{$_SESSION['member']->getEmail() }}</p>
                <hr>
                <p>State: {{$_SESSION['member']->getState() }}</p>
                <hr>
                <p>Seeking: {{$_SESSION['member']->getSeeking() }}</p>
                <check if="{{$_SESSION['member'] instanceOf PremiumMember}}">
                    <hr>
                    <p>Interests: {{implode(', ', $_SESSION['member']->getInDoorInterests() )}},
                        {{implode(', ', $_SESSION['member']->getOutDoorInterests()) }}</p>
                </check>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="text-center">
                <img id="profilePic" src="images/profilepic.PNG" alt="profile picture">
            </div>
            <h4>Biography</h4>
            <p class="text-center">{{$_SESSION['bio']}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-center">
            <button class="btn btn-primary bottomMargin">Contact Me!</button>
        </div>
    </div>
</div>

</body>
</html>